<!DOCTYPE html>
<html lang="en">
	<head>
		<%include ./partials/head.ejs %>
	</head>

	<body>
		<title> About Us </title>
		<% include ./partials/navbar.ejs %>
		<main class="container">
			<header class="jumbotron my-4">
				<h1 class="display-4">About Us </h1>
				<img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiwouGn_7vfAhUxvlkKHQiuCiwQjRx6BAgBEAU&url=https%3A%2F%2Fnhs.fz.k12.mo.us%2F&psig=AOvVaw3OZasJpRT1nSKUmFgJFElU&ust=1545862123930389" class="rounded-float-right" alt="Responsive About Us Image">
				<p class="Lead"> Learn about the Bloccit Team</p>
			</header>
			<div class="col-sm-10 text-left">
				<h1> Our Team </h1>
				<p> There's a team. here is where we'll write about it </p> 
			</div>
		</main>	
	</body>